<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">LeoCode</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-light" href="assignment-overview" style="margin-left: 50px;">Assignments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="start-screen" style="margin-left: 50px;">Exercises</a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item">
        <span class="navbar-text text-light">{{ ifUserName }}</span>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-light ml-3" (click)="logout()">Logout</button>
      </li>
    </ul>
  </div>
</nav>

<!-- Main Content -->
<div class="container mt-4">
  <div class="card shadow-lg rounded">
    <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <h1 *ngIf="!isEditingName" class="display-5 mb-0">{{ exercise.name }}</h1>
        <input *ngIf="isEditingName" type="text" class="form-control ml-3" [(ngModel)]="exercise.name" placeholder="Edit Exercise Name">
        <button *ngIf="ifUserName == exercise.creator && !isEditingName" class="btn btn-light btn-sm ml-3" (click)="editExerciseName()">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <div class="text-right">
        <small>Created on: {{ exercise.dateCreated | date: 'mediumDate' }}</small>
        <p class="mb-0"><strong>Creator:</strong> {{ exercise.creator }}</p>
      </div>
    </div>

    <div class="card-body">
      <!-- Tags Section -->
      <div>
        <div class="d-flex align-items-center">
          <h3 class="text-dark font-weight-bold mb-0">Tags</h3> <!-- Hervorhebung der Überschrift -->
          <button *ngIf="ifUserName == exercise.creator && !isEditingTag" class="btn btn-link p-0 ml-2" (click)="editTag()">
            <mat-icon class="text-muted">edit</mat-icon> <!-- Grauer Stift für Editieren -->
          </button>
        </div>

        <div class="form-group">
          <p *ngIf="!isEditingTag" class="card-text" style="white-space: pre-wrap; font-size: 16px; color: #495057;">
            {{ exercise.tags.join(', ') }}
          </p>

          <form *ngIf="isEditingTag">
            <mat-form-field class="example-chip-list" style="width: 100%">
              <mat-label>Chosen Tags</mat-label>
              <mat-chip-grid #chipGrid aria-label="Tag selection">
                <mat-chip-row *ngFor="let tag of exercise.tags" (removed)="removeTag(tag)">
                  {{ tag }}
                  <button matChipRemove [attr.aria-label]="'remove ' + tag">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
              </mat-chip-grid>
              <input placeholder="New Tag..." #tagInput [formControl]="tagCtrl"
                    [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="addTag($event)" class="border-0 rounded" />
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
                  {{ tag }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
        </div>
        <ul *ngIf="ifUserName != exercise.creator">
          <li *ngFor="let tag of exercise.tags">{{ tag }}</li>
        </ul>
      </div>

      <!-- Introduction Section -->
      <div class="mt-4">
        <div class="d-flex align-items-center">
          <h3 class="text-dark font-weight-bold mb-0">Introduction</h3> <!-- Hervorhebung der Überschrift -->
          <button *ngIf="ifUserName == exercise.creator && !isEditingDescription" class="btn btn-link p-0 ml-2" (click)="editDescription()">
            <mat-icon class="text-muted">edit</mat-icon> <!-- Grauer Stift für Editieren -->
          </button>
        </div>
        <div *ngIf="ifUserName == exercise.creator">
          <textarea *ngIf="isEditingDescription" class="form-control" [(ngModel)]="exercise.description" rows="4" placeholder="Edit Introduction"></textarea>
          <p *ngIf="!isEditingDescription">{{ exercise.description }}</p>
        </div>
        <p *ngIf="ifUserName != exercise.creator">{{ exercise.description }}</p>
      </div>

      <!-- Action Buttons -->
      <div class="d-flex justify-content-between align-items-center mt-4">
        <div>
          <button class="btn btn-success mr-3" [routerLink]="['/test-results']" [queryParams]="{ exerciseName: exercise.name, creator: exercise.creator }">Run Test</button>
          <button class="btn btn-primary" (click)="SaveChanges()">Save Changes</button>
        </div>
        <button class="btn btn-info" (click)="createAssignment()">Create Assignment</button>
      </div>
    </div>
  </div>
</div>
