<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">LeoCode</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['/introduction']" [queryParams]="{ creator: exercise.teacher?.username}">Introduction</a>
      </li>
    </ul>
  </div>
  
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <span class="navbar-text text-light">
          {{ ifUserName }}
        </span>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-light ml-3" (click)="logout()">Logout</button>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="row flex-grow-1">
    <!-- Sidebar displaying assignment names -->
    <!-- Sidebar displaying assignment names -->
    <div class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <h2>Assignments</h2>
        <ul class="nav flex-column">
          <li class="nav-item" *ngFor="let assignment of assignments">
            <a class="nav-link" (click)="loadAssignment(assignment)">
              {{ assignment.name }}
            </a>
          </li>
        </ul>
      </div>
    </div>

    
    <div class="col-md-10 content">
      <div class="container mt-4">
        <h2>Playground: {{exercise.name}}</h2>
        
        <!-- Loop through code sections -->
        <div *ngFor="let codeSection of exercise.arrayOfSnippets" class="mb-3">
          <!-- Readonly code section -->
          <div *ngIf="codeSection.readonlySection">
             <pre class="p bg-light" style="border: 1px solid #ddd; white-space: pre-wrap;">
              {{ codeSection.code }}
            </pre>
          </div>
          <!-- Editable code section -->
          <div *ngIf="!codeSection.readonlySection" style="height: 300px;">
            <ngx-monaco-editor style="height: 300px; width: 100%;" [options]="editorOptions" [(ngModel)]="codeSection.code"></ngx-monaco-editor>
          </div>
        </div>
        
        <h1>Unitests-result</h1>
        <table class="table table-striped table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>Messages</th>
              <th>Passed</th>
              <th>Not Passed</th>
              <th>Total Tests</th>
              <th>Timer</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Tests</td>
              <td>{{ result.Summary.PassedTests }}</td>
              <td>{{ result.Summary.FailedTests }}</td>
              <td>{{ result.Summary.TotalTests }}</td>
              <td>{{ timer }}</td>
            </tr>
            <tr *ngFor="let testResult of result.TestResults">
              <td colspan="4">{{ testResult.TestName }}</td>
              <td>{{ testResult.Outcome }}</td>
            </tr>
          </tbody>
        </table>
        
        <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
        <br><br>
        
        <button (click)="startTest()" class="btn btn-primary" [disabled]="loading">Start Tests</button>
        <button routerLink="/result-history" class="btn btn-primary ml-2">Result History</button>
      </div>
    </div>
  </div>
</div>
