#loading-bar {
    width: 0;
    height: 5px;
    background-color: #4CAF50; /* Farbe der Ladeleiste */
    transition: width 0.3s; /* Animationsdauer für die Ladeleiste */
  }

  .monaco-editor {
    height: 300px;
    width: 200%;
  }