.step-indicator {
  display: flex; /* Verwenden der Flexbox */
  justify-content: space-between; /* Platzieren der Rechtecke mit gleichmäßigem Abstand */
}

.step-indicator-item {
  flex: 1; /* Jedes Rechteck nimmt gleich viel Platz ein */
  padding: 10px 20px;
  background-color: #ccc; /* Dunkelgrau für Standard-Hintergrundfarbe */
  border: 1px solid #ccc;
  text-align: center;
  transition: background-color 0.3s; /* Übergangseffekt für eine sanfte Änderung der Hintergrundfarbe */

}

.step-indicator-item:hover {
  background-color: #999; /* Dunkelgrau bei Hover */
}

.current-step {
  background-color: #007bff; /* Blau für Hintergrundfarbe des aktuellen Schritts */
  color: #fff; /* Weiß für Textfarbe im aktuellen Schritt */
}

.sub-menu-link {
  color: #888; /* Graue Farbe für Untermenüpunkte */
  font-size: 14px; /* Kleinere Schriftgröße für Untermenüpunkte */
}


.sub-menu {
  display: none;
}

.sub-menu.show {
  display: block;
}

.example-chip-list {
  width: 100%;
}

.mt-4{
  width: 100%;
}

.drag-drop-area {
  border: 2px dashed #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin: 10px;
  background-color: #f9f9f9;
}

.btn-ZipFile {
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 10px;
  color: #fff;
}
