<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">LeoCode</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">

          <li class="nav-item">
            <a class="nav-link main-menu-link" >1. Class</a>
            <ul class="sub-menu">
              <li><a [routerLink]="['/introdcution']">Overview</a></li>
              <li><a [routerLink]="['/introdcution']">Csharp</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link main-menu-link" >2. Class</a>
            <ul class="sub-menu">
              <li><a [routerLink]="['/introdcution']">Overview</a></li>
              <li><a [routerLink]="['/introdcution']">Csharp</a></li>
              <li><a [routerLink]="['/introdcution']">Typescript</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link main-menu-link" >3. Class</a>
            <ul class="sub-menu">
              <li><a [routerLink]="['/introdcution']">Overview</a></li>
              <li><a [routerLink]="['/introdcution']">Java</a></li>
              <li><a [routerLink]="['/introdcution']">Typescript</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link main-menu-link" >4. Class</a>
            <ul class="sub-menu">
              <li><a [routerLink]="['/introdcution']">Overview</a></li>
              <li><a [routerLink]="['/introdcution']">Csharp</a></li>
              <li><a [routerLink]="['/introdcution']">Typescript</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link main-menu-link" >5. Class</a>
            <ul class="sub-menu">
              <li><a [routerLink]="['/introdcution']">Overview</a></li>
              <li><a [routerLink]="['/introdcution']">Java</a></li>
              <li><a [routerLink]="['/introdcution']">Typescript</a></li>
              <li><a [routerLink]="['/introdcution']">Csharp</a></li>
            </ul>
        </ul>
      </div>
    </div>



    <div class="col-md-10">
      <div class="container mt-4">
        <h1>Create Exercise</h1>
         <!-- Schritte als Punkte -->
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="step-indicator">
              <div *ngFor="let step of [1, 2, 3, 4, 5]" 
                  class="step-indicator-item" 
                  [ngClass]="{ 'current-step': currentStep === step }"
                  (click)="goToStep(step)">
                <span class="step-dot"></span>
              </div>
            </div>
          </div>
        </div>


        <div class="container">
          <!-- Schritt 1: Anleitung hinzufügen -->
          <div *ngIf="currentStep === 1">
            <div class="row justify-content-center">
              <div class="col-md-12">
                <div class="card mt-5">
                  <div class="card-body">
                    <h2 class="card-title">Step 1: Add Introduction and Name</h2>
                    <div class="form-group">
                      <textarea class="form-control" rows="5" style="height: 50px; width: 250px"  [(ngModel)]="exerciseName" placeholder="Write your Name here"></textarea>
                    </div>
                    <br>
                    <div class="form-group">
                      <textarea class="form-control" rows="5" style="height: 300px; width: 1000px"  [(ngModel)]="instruction" placeholder="Write your Introduction here"></textarea>
                    </div>
                    <button class="btn btn-primary" (click)="nextStep()">Next</button>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <!-- Schritt 2: Sprache auswählen -->
          <div *ngIf="currentStep === 2">
            <div class="row justify-content-center">
              <div class="col-md-12">
                <div class="card mt-5">
                  <div class="card-body" style="height: 300px; width: 1000px">
                    <h2 class="card-title">Step 2: Chose Language</h2>
                    <div class="form-group">
                      <select class="form-control"  [(ngModel)]="selectedLanguage">
                        <option value="TypeScript">TypeScript</option>
                        <option value="Csharp">Csharp</option>
                        <option value="Java">Java</option>
                      </select>
                    </div>
                    <button class="btn btn-primary" (click)="nextStep()">Next</button>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <!-- Schritt 3: Tags auswählen -->
        <div *ngIf="currentStep === 3">
          <div class="row justify-content-center">
            <div class="col-md-12">
              <div class="card mt-5">
                <div class="card-body" style="height: 500px; width: 1000px">
                  <h2 class="card-title">Step 3: Chose Tags</h2>
                  <!-- Ausgewählte Tags anzeigen -->
                  <form>
                    <mat-form-field class="example-chip-list">
                      <mat-label>Chosen Tags</mat-label>
                      <mat-chip-grid #chipGrid aria-label="Tag selection">
                        <mat-chip-row *ngFor="let tag of selectedTags" (removed)="removeTag(tag)">
                          {{tag}}
                          <button matChipRemove [attr.aria-label]="'remove ' + tag">
                            <mat-icon>cancel</mat-icon>
                          </button>
                        </mat-chip-row>
                      </mat-chip-grid>
                      <input placeholder="New Tag..." #tagInput [formControl]="tagCtrl"
                        [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        (matChipInputTokenEnd)="addTag($event)"/>
                      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                        <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
                          {{tag}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </form>
                  <button class="btn btn-primary" (click)="nextStep()">Next</button>
                </div>
              </div>
            </div>
          </div>
        </div>


    <!-- Schritt 4: ZIP-Datei hochladen -->
    <div *ngIf="currentStep === 4">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="card mt-5">
            <div class="card-body" style="height: 400px; width: 1000px">
              <h2 class="card-title">Step 4: Upload Template as ZIP</h2>
              <p>Upload the complete Zip-File:</p>
              <div class="drag-drop-area" 
                  (drop)="uploadZipFile($event); $event.preventDefault();" 
                  (dragover)="$event.preventDefault();">
                <p *ngIf="!zipFile">Drag & Drop your file here</p>
                <button class="btn-ZipFile" *ngIf="zipFile" (click)="clearZipFile()" >
                  <p>{{zipFile.name}} <mat-icon>cancel</mat-icon></p>
                </button>             
              </div>
 
              <br><br>
              <p>Upload the empty Zip-File:</p>
              <div class="drag-drop-area" 
                  (drop)="uploadEmptyZipFile($event); $event.preventDefault();" 
                  (dragover)="$event.preventDefault();">
                <p *ngIf="!emptyZipFile">Drag & Drop your file here</p>
                <button class="btn-ZipFile" *ngIf="emptyZipFile" (click)="clearEmptyZipFile()">
                  <p>{{emptyZipFile.name}} <mat-icon>cancel</mat-icon></p>
                </button>
              </div>
            </div>
            <button class="btn btn-primary" [disabled]="!ZipFileUploaded || !emptyZipFileUploaded" (click)="nextStep()">Next</button>
          </div>
        </div>
      </div>
    </div>



  

    
     <!-- Schritt 5: Senden an Backend -->
    <div *ngIf="currentStep === 5" class="row justify-content-center align-items-center">
      <div class="col-md-12">
        <div class="card mt-5">
          <div class="card-body"style="height: 350px; width: 1000px">
            <h2 class="card-title">Overview</h2>
            <p><strong>Exercise Name</strong> {{exerciseName}}</p>
            <p><strong>Introdcution</strong> {{ instruction }}</p>
            <p><strong>Language:</strong> {{ selectedLanguage }}</p>
            <p><strong>Chosen Tags:</strong> {{ selectedTags.join(', ') }}</p>
            <p><strong>Complete Zip-File:</strong> {{ zipFile?.name }}</p>
            <p><strong>Empty Zip-File</strong> {{ emptyZipFile?.name }}</p>
          
            <button class="btn btn-primary" (click)="sendCodeToRunner()">Upload Exercise</button>
          </div>
        </div>
      </div>
    </div>
    <mat-progress-bar mode="indeterminate" *ngIf="isUploading"></mat-progress-bar>

    <br>
    <br>
    <br>
  </div>
</div>
</div>
</div>




