.assignment-card {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px; /* Abgerundete Ecken für die Assignment-Karte */
  background-color: #f9f9f9;
}

.assignment-card h2 {
  color: #333;
}

.assignment-card ul {
  list-style-type: none;
  padding-left: 0;
}

.assignment-card li {
  padding: 5px 0;
}

.rounded-table {
  border-radius: 0.5rem; /* Abrundung der Ecken */
  overflow: hidden; /* Verhindert, dass der Inhalt über die abgerundeten Ecken hinausgeht */
}

.thead-rounded th {
  border-top-left-radius: 0.5rem; /* Abrundung der oberen linken Ecke */
  border-top-right-radius: 0.5rem; /* Abrundung der oberen rechten Ecke */
}

/* Stil für das Sidebar-Menü */
.sidebar {
  background-color: #f8f9fa; /* Helles Grau für den Hintergrund */
  border-right: 1px solid #ddd; /* Subtile Trennlinie */
  height: 100vh;
  padding-top: 20px;
}

/* Stil für die Assignments */

/* Nur für die Sidebar */
.sidebar .nav-link {
  font-weight: 600;
  padding: 8px 15px;
  border-radius: 4px;  /* Abgerundete Ecken */
  color: #495057; /* Dunkles Grau */
  transition: background-color 0.3s ease, color 0.3s ease; /* Sanfter Übergang */
}

.sidebar .nav-link:hover {
  background-color: #007bff; /* Heller blauer Hintergrund beim Hover */
  color: white !important; /* Weiße Schrift beim Hover */
}

/* Stil für das aktive Assignment nur in der Sidebar */
.sidebar .active-assignment {
  background-color: #007bff !important; /* Blaue Hintergrundfarbe */
  color: white !important; /* Weiße Schrift */
  font-weight: bold; /* Fettdruck für den Text */
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3); /* Subtle shadow around the active item */
}
